@tailwind base;
@tailwind components;
@tailwind utilities;

.back-arrow {
    width: 30px;
    height: 27px;
    background: url('/img/arrow-left.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.back-button{
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.fullscreen-button {
    width: 30px;
    height: 27px;
    background: url('/img/full-screen-ico.svg') no-repeat center;
    background-size: contain;
}
.back-button:hover,
.fullscreen-button:hover {
    opacity: 0.8;
}

.back-button img,
.fullscreen-button img {
    width: 24px;
    height: 24px;
    display: block;
}

.back-button {
    background: url('/img/arrow-left.svg') no-repeat center;
}

.fullscreen-button {
    background: url('/img/full-screen-ico.svg') no-repeat center;
}

/* Стили для спиннеров */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: 72px;
    width: 36px;
    opacity: 1;
    cursor: pointer;
}

input[type="number"] {
    padding-right: 20px;
}


